@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: #fbfbfb;
  --c-fg: #444444;
  --c-scroll: #d9d9d9;
  --c-scroll-hover: #bbbbbb;
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

html {
  font-family: system-ui, sans-serif;
  background-color: var(--c-bg);
  color: var(--c-fg);
}

html.dark {
  --c-bg: #212129;
  --c-fg: #ddddf0;
  --c-scroll: #333333;
  --c-scroll-hover: #555555;
}
